<!-- <nav class="navBar1">
        <i class="fa-solid fa-bars menu"></i>
        <h3>Tickets</h3>
        <div style="display: flex; align-items: center;">
            <div class="navbar-login">
                <% if (isLoggedIn) { %>
                    <a class="login-det" href="/logout"><p>Logout</p></a>
                    <a class="profile"><i class="fa-solid fa-user"></i></a>
                <% } else { %>
                    <a class="login-det" href="/login"><p>Login</p></a>
                    <a class="registration-det" href="/registration"><p>Registration</p></a>
                <% } %>
            </div>
        </div>
    </nav>

    <div class="sideBar">
        <i class="fa-solid fa-xmark" id="cross"></i>
        <ul>
            <li><i class="fa-solid fa-ticket"></i><a href="#">Tickets</a></li>
            <li><i class="fa-solid fa-store"></i><a href="#">Store</a></li>
            <li><i class="fa-solid fa-circle-info"></i><a href="#">More</a></li>
            <li><i class="fa-solid fa-gear"></i><a href="#">Settings</a></li>
        </ul>
    </div>

    <nav class="navBar2">
        <a href="#">Active</a>
        <a href="#">Available</a>
        <a href="/interface/history">History</a>
    </nav> -->